<footer class="footer">
    <div class="footer-content">
      <div class="social-links">
        <a href="https://www.linkedin.com/in/aftabalamsi12/" target="_blank" aria-label="LinkedIn">
          <mat-icon>linkedin</mat-icon>
        </a>
        <a href="https://github.com/TheAftabAlam" target="_blank" aria-label="GitHub">
          <mat-icon>github</mat-icon>
        </a>
        <!-- Add more social links here -->
      </div>
      <div class="footer-text">
        <p>&copy; 2024 Aftab Alam. All rights reserved.</p>
      </div>
    </div>
  </footer>
  