<!-- contact-us.component.html -->

<div class="contact-us-container">
  <mat-card class="contact-card">
    <mat-card-header class="card-header">
      <a href="https://github.com/TheAftabAlam" target="_blank" class="github-link">
        <img src="assets/github-logo.png" alt="GitHub Logo" class="github-logo" />
      </a>
      <mat-card-title class="card-title">Contact Us</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="contact-info">
        <mat-icon class="contact-icon">email</mat-icon>
        <div class="contact-detail">
          <h3>Email</h3>
          <p>aftabalamfd@gmail.com</p>
        </div>
      </div>
      <div class="contact-info">
        <mat-icon class="contact-icon">phone</mat-icon>
        <div class="contact-detail">
          <h3>Phone</h3>
          <p>(+91) 7703970885</p>
        </div>
      </div>
      <div class="contact-info">
        <mat-icon class="contact-icon">location_on</mat-icon>
        <div class="contact-detail">
          <h3>Location</h3>
          <p>Gurugram, Haryana</p>
        </div>
      </div>
      <div class="button-container">
        <button mat-raised-button color="primary" (click)="redirectToEmail()">Send Message</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
