<mat-sidenav-container class="app-container">
  <!-- Main Content -->
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="main-toolbar dark-toolbar">
      <mat-toolbar-row>
        <mat-nav-list class="top-nav-list">
          <a mat-list-item routerLink="/" class="nav-item">
            <mat-icon>home</mat-icon> Home
          </a>
          <a mat-list-item routerLink="/about" class="nav-item">
            <mat-icon>info</mat-icon> About Us
          </a>
          <a mat-list-item routerLink="/professional-experiences" class="nav-item">
            <mat-icon>work</mat-icon> Professional Experiences
          </a>
          <a mat-list-item routerLink="/skills" class="nav-item">
            <mat-icon>star</mat-icon> Skills
          </a>
          <a mat-list-item routerLink="/projects" class="nav-item">
            <mat-icon>code</mat-icon> Projects
          </a>
          <a mat-list-item routerLink="/education" class="nav-item">
            <mat-icon>school</mat-icon> Education
          </a>
          <!-- <a mat-list-item routerLink="/achievements" class="nav-item">
            <mat-icon>emoji_events</mat-icon> Professional Achievements
          </a> -->
          <a mat-list-item routerLink="/contact" class="nav-item">
            <mat-icon>contact_mail</mat-icon> Contact Us
          </a>
        </mat-nav-list>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-footer class="footer"></app-footer>
